.clearfix {
  overflow: auto;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0px !important;
  padding: 0px !important;
}

.header {
  height: 64px;
  background: #2196f3;
}

.sidebar {
  float: left;
  width: 250px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, -6.86), 0 0px 3px 0 rgba(0, 0, 0, -7.88), 0 5px 4px 1px var(--sidebar-shadow);
  overflow: auto;
  height: 100vh;
  color: var(--text-color);
  padding-bottom: 10vh;
  background: var(--sidebar);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 9;
}

.handle {
  width: 8px;
  background: #ddd;
  cursor: ew-resize;
  flex: 1;
}

.content {
  flex-grow: 1;
  overflow: auto;
}

.main {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    width: 600%;
  }
}
